*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    transform: translateY(30px);
    overflow-x: hidden;

}
#box2{
    position: relative;
    left: 1240px ;
    bottom: 20px;
}
#box4{
    position: relative;
    left: 1240px;
    top: 18px;
}
#box3{
    position: relative;
    top: 34px;
}
#box5{
    position: relative;
    left: 620px;
    bottom: 35px;
  
}